.container{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 85px;
    color: black;
}

.containerInput{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-top: 34px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    margin-right: 8px;
    outline: none;
}

.containerInput input::placeholder {
    color: darkgray;
}

.dropdown{
    background-color: rgba(150, 52, 52, 0.2);
    padding: 15px;
    display: flex;
}
.dropdown:hover{
    background-color: rgba(61, 19, 19, 0.2);
    cursor: pointer;
}

.buttonSearch{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h2{
    margin: 16px 0;
    font-size: 24px;
}

.musicInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
}